<% require 'ansi-to-html' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>NoSE Schema Recommendation</title>
  </head>
  <body style="margin: 1em">
    <h1>NoSE Schema Recommendation</h1>

    <h2>Model</h2>
    <%= svg %>

    <% unless workload.model.source_code.nil? %>
      <a class="btn btn-primary" style="display: block" data-toggle="collapse" data-target="#model-code">Model code
        <span class="glyphicon glyphicon-menu-hamburger" style="float:right"></span></a>
      <pre id="model-code" class="collapse"><code class="lang-ruby"><%= workload.model.source_code %></pre></code>
    <% end %>

    <h2>Queries</h2>
    <% workload.queries.each do |query| %>
      <% unless query.label.nil? %><strong><%= query.label %></strong><% end %>
      <pre><code class="lang-sql"><%= query.text %></code></pre>
    <% end %>

    <% unless workload.updates.empty? %><h2>Updates</h2><% end %>
    <% workload.updates.each do |update| %>
      <% unless update.label.nil? %><strong><%= update.label %></strong><% end %>
      <pre><code class="lang-sql"><%= update.text %></code></pre>
    <% end %>

    <% unless workload.source_code.nil? %>
      <a class="btn btn-primary" style="display: block" data-toggle="collapse" data-target="#workload-code">Workload code
        <span class="glyphicon glyphicon-menu-hamburger" style="float:right"></span></a>
      <pre id="workload-code" class="collapse"><code class="lang-ruby"><%= workload.source_code %></pre></code>
    <% end %>

    <h2>Indexes</h2>
    <% ddl = backend ? backend.indexes_ddl.to_a : nil %>
    <% indexes.each_with_index do |index, i| %>
      <h3><%= index.key %></h3>
      <% if ddl %>
        <p><tt><%= ddl[i] %></tt></p>
      <% end %>
      <p><%= Ansi::To::Html.new(index.inspect).to_html %></p>
    <% end %>

    <h2>Query plans</h2>
    <% plans.each do |plan| %>
      <% unless plan.query.label.nil? %><strong><%= plan.query.label %></strong><% end %>
      <pre><code class="lang-sql"><%= Ansi::To::Html.new(plan.query.inspect).to_html %></code></pre>
      <strong>Cost: <%= plan.cost %></strong>

      <% if plan.steps.length > 1 %>
        <ol>
        <% plan.each do |step| %>
          <li><%= Ansi::To::Html.new(step.inspect).to_html %></li>
        <% end %>
        </ol>
      <% else %>
        <p><%= Ansi::To::Html.new(plan.steps.first.inspect).to_html %></p>
      <% end %>
      <hr>
    <% end %>

    <h2>Update plans</h2>
    <% update_plans.group_by(&:statement).each do |statement, plans| %>
      <% unless statement.label.nil? %><strong><%= statement.label %></strong><% end %>
      <pre><code class="lang-sql"><%= statement.text %></code></pre>
      <strong>Total cost: <%= plans.map(&:cost).inject(0, &:+) %></strong>

      <% plans.each do |plan| %>
        <h4><%= plan.index.key %></h4>
        <strong>Cost: <%= plan.cost %></strong>

        <% unless plan.query_plans.empty? %>
          <h5>Support queries</h5>
        <% end %>

        <% plan.query_plans.each do |query_plan| %>
          <% unless query_plan.query.label.nil? %><strong><%= query_plan.query.label %></strong><% end %>
          <pre><code class="lang-sql"><%= query_plan.query.text %></code></pre>
          <% if query_plan.steps.length > 1 %>
            <ol>
            <% query_plan.each do |step| %>
              <li><%= Ansi::To::Html.new(step.inspect).to_html %></li>
            <% end %>
            </ol>
          <% else %>
            <p><%= Ansi::To::Html.new(query_plan.steps.first.inspect).to_html %></p>
          <% end %>
        <% end %>

        <h5>Updates</h5>

        <% if plan.update_steps.length > 1 %>
          <ol>
          <% plan.update_steps.each do |step| %>
            <li><%= Ansi::To::Html.new(step.inspect).to_html %></li>
          <% end %>
          </ol>
        <% else %>
          <p><%= Ansi::To::Html.new(plan.update_steps.first.inspect).to_html %></p>
        <% end %>
      <% end %>
      <hr>
    <% end %>

    <% if enumerated_indexes %>
      <h2>Enumerated Indexes</h2>
      <% enumerated_indexes.each_with_index do |index, i| %>
        <h3><%= index.key %></h3>
        <% if ddl %>
          <p><tt><%= ddl[i] %></tt></p>
        <% end %>
        <p><%= Ansi::To::Html.new(index.inspect).to_html %></p>
      <% end %>
    <% end %>

    <h2>Summary</h2>
    <dl>
      <dt>Total size</dt>
      <dd><%= total_size %></dd>

      <dt>Total cost</dt>
      <dd><%= total_cost %></dd>
    </dl>
  </body>
</html>
